.container{
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.container h1{
    color: var(--white);
}

.containerHeader{
    display: flex;
    flex-direction: row;
    button{
        background: transparent;
        border: 0;
        margin-left: 1rem;
        transition: transform 0.8s;

        &:hover{
            transform: scale(1.2);
        }        
    }

}

.labelSaldoApresentacao{
    width: 100%;
    background-color: var(--dark-900);
    color: var(--white);
    margin-bottom: 0.2rem;
    margin-left: 0.3rem;
    border-radius: 0.3rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.labelSaldoGreen{
    width: 100%;
    background-color: var(--green-900);
    color: var(--white);
    margin-bottom: 0.2rem;
    border-radius: 0.3rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.labelSaldoRed{
    width: 100%;
    background-color: var(--red-900);
    color: var(--white);
    margin-bottom: 0.2rem;
    border-radius: 0.3rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.labelSaldo{
    width: 100%;
    background-color: var(--dark-900);
    color: var(--white);
    margin-bottom: 0.2rem;
    border-radius: 0.3rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.choiceTopRefresh{
    margin-top: 0rem;
    width: 600px;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

.choiceTop{
  margin-top: 0rem;
  width: 600px;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2rem 1.5rem;  
}

.listOrder{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

}

.orderItem{
    display: flex;
    flex-direction: row;
    background-color: var(--dark-900);
    margin-bottom: 1rem;
    align-items: center;
    border-radius: 0.3rem;

    button{        
        
        border:0;
        background: transparent;
        font-size: 1.2rem;
        color: var(--white);
        height: 60px;
        align-items: center;
        display: flex;
        
        transition: color 0.7s;
        &:hover{
            color: var(--red-900);
        }
    }
}

.tag{
    width: 9px;
    background-color: var(--green-900);
    height: 60px;
    border-radius: 6px 0 0 6px;
    margin-right: 1rem;
}

.emptyList{
    font-size: 1.2rem;
    color: var(--gray-100);
}